name: Makefile CI

on:
  push:
    branches: [ "main", "code-changes" ]
  pull_request:
    branches: [ "main", "code-changes" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Build
      run: make build

    - name: Test
      run: make test
